<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="" defer></script>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet" />
        <title>SWSearch</title>
    </head>
    <body>
        <header>
            <h1>SWSearch</h1>
        </header>
            <div class="divElements">
                <form action="{% url 'processar_csv' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>
                        <label class="textAddArq" >Adicione seu Arquivo</label>
                    </div>
                    <input type="file" id="inputArq" name="csv_file">
                    <button type="submit" id="btnCarregar">Carregar</button>
                </form>
            </div>
    </body>
</html>