body{
    font-family: rubik;
}

header{
    background-color: #89c4d0;
    text-align: center;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 100px;
}


.divElements{
    text-align: center;
}

#inputArq{
    padding-left: 80px;
    border: none;
    font-family: rubik;
    margin: 20px;
    margin-right: 0px;
    background-color: #b6d5db;
    padding-left: 0px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#inputArq::-webkit-file-upload-button {
    border: 2px solid #0d3f63;
    background: #0d3f63;
    padding: 10px;
    font-family: rubik;
    border-radius: 30px;
    margin-right: 20px;
    color: whitesmoke;
}

#btnCarregar{
    border: 0px;
    background-color: #b6d5db;
    padding: 12px;
    padding-left: 15px;
    padding-right: 15px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#btnCarregar:hover{
    background-color: #3f6183;
    color: #ffffff;
}

#titulo_pesquisa{
    background-color: #0d3f63;
    padding: 10px;
    color: azure;
}